<?xml version="1.0" encoding="utf-8"?>
<SettingsHandler xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Color1>-24454</Color1>
  <Color2>-7278960</Color2>
  <Color3>-7876870</Color3>
  <Color4>-2894893</Color4>
  <Color5>-8388652</Color5>
  <SplitterH>298</SplitterH>
  <SplitterV>296</SplitterV>
  <Language>English</Language>
  <BaseLanguage>en.resx</BaseLanguage>
  <MainWindowSize>
    <Width>886</Width>
    <Height>720</Height>
  </MainWindowSize>
  <PrefWindowSize>
    <Width>600</Width>
    <Height>400</Height>
  </PrefWindowSize>
  <TranWindowSize>
    <Width>400</Width>
    <Height>300</Height>
  </TranWindowSize>
  <FindWindowSize>
    <Width>400</Width>
    <Height>250</Height>
  </FindWindowSize>
  <MainWindowPosition>
    <X>220</X>
    <Y>220</Y>
  </MainWindowPosition>
  <PrefWindowPosition>
    <X>0</X>
    <Y>0</Y>
  </PrefWindowPosition>
  <TranWindowPosition>
    <X>0</X>
    <Y>0</Y>
  </TranWindowPosition>
  <FindWindowPosition>
    <X>0</X>
    <Y>0</Y>
  </FindWindowPosition>
  <MainWindowState>Normal</MainWindowState>
  <PrefWindowState>Normal</PrefWindowState>
  <ItemDisplayStyle>Image</ItemDisplayStyle>
  <LastUpdateCheck>634671669408840436</LastUpdateCheck>
  <SortByKeyOnSave>false</SortByKeyOnSave>
  <ShowKeyColumnOnStart>false</ShowKeyColumnOnStart>
</SettingsHandler>